[submodule "addons/ipg/OCA/web"]
	path = addons/ipg/OCA/web
	url = https://github.com/ideaspositivas-group/web.git
	branch = 12.0
[submodule "addons/ipg/OCA/crm"]
	path = addons/ipg/OCA/crm
	url = https://github.com/ideaspositivas-group/crm.git
	branch = 12.0
[submodule "addons/ipg/OCA/hr"]
	path = addons/ipg/OCA/hr
	url = https://github.com/ideaspositivas-group/hr.git
	branch = 12.0
[submodule "addons/ipg/OCA/l10n-spain"]
	path = addons/ipg/OCA/l10n-spain
	url = https://github.com/ideaspositivas-group/l10n-spain.git
	branch = 12.0
[submodule "addons/ipg/OCA/partner-contact"]
	path = addons/ipg/OCA/partner-contact
	url = https://github.com/ideaspositivas-group/partner-contact.git
	branch = 12.0
[submodule "addons/ipg/OCA/project"]
	path = addons/ipg/OCA/project
	url = https://github.com/ideaspositivas-group/project.git
	branch = 12.0
[submodule "addons/ipg/OCA/project-reporting"]
	path = addons/ipg/OCA/project-reporting
	url = https://github.com/ideaspositivas-group/project-reporting.git
	branch = 12.0
[submodule "addons/ipg/OCA/queue"]
	path = addons/ipg/OCA/queue
	url = https://github.com/ideaspositivas-group/queue.git
	branch = 12.0
[submodule "addons/ipg/OCA/server-tools"]
	path = addons/ipg/OCA/server-tools
	url = https://github.com/ideaspositivas-group/server-tools.git
	branch = 12.0
[submodule "addons/ipg/OCA/server-ux"]
	path = addons/ipg/OCA/server-ux
	url = https://github.com/ideaspositivas-group/server-ux.git
	branch = 12.0
[submodule "addons/ipg/OCA/timesheet"]
	path = addons/ipg/OCA/timesheet
	url = https://github.com/ideaspositivas-group/timesheet.git
	branch = 12.0
[submodule "addons/ipg/muk/muk_base"]
	path = addons/ipg/muk/muk_base
	url = https://github.com/ideaspositivas-group/muk_base.git
	branch = 12.0
[submodule "addons/ipg/muk/muk_dms"]
	path = addons/ipg/muk/muk_dms
	url = https://github.com/ideaspositivas-group/muk_dms.git
	branch = 12.0
[submodule "addons/ipg/muk/muk_web"]
	path = addons/ipg/muk/muk_web
	url = https://github.com/ideaspositivas-group/muk_web.git
	branch = 12.0
