
[submodule "addons/OCA/crm"]
	path = addons/OCA/crm
	url = https://github.com/OCA/crm.git
	branch = 12.0
[submodule "addons/OCA/hr"]
	path = addons/OCA/hr
	url = https://github.com/OCA/hr.git
	branch = 12.0
[submodule "addons/OCA/l10n-spain"]
	path = addons/OCA/l10n-spain
	url = https://github.com/OCA/l10n-spain.git
	branch = 12.0
[submodule "addons/OCA/partner-contact"]
	path = addons/OCA/partner-contact
	url = https://github.com/OCA/partner-contact.git
	branch = 12.0
[submodule "addons/OCA/project"]
	path = addons/OCA/project
	url = https://github.com/OCA/project.git
	branch = 12.0
[submodule "addons/OCA/project-reporting"]
	path = addons/OCA/project-reporting
	url = https://github.com/OCA/project-reporting.git
	branch = 12.0
[submodule "addons/OCA/queue"]
	path = addons/OCA/queue
	url = https://github.com/OCA/queue.git
	branch = 12.0
[submodule "addons/OCA/server-tools"]
	path = addons/OCA/server-tools
	url = https://github.com/OCA/server-tools.git
	branch = 12.0
[submodule "addons/OCA/server-ux"]
	path = addons/OCA/server-ux
	url = https://github.com/OCA/server-ux.git
	branch = 12.0
[submodule "addons/OCA/timesheet"]
	path = addons/OCA/timesheet
	url = https://github.com/OCA/timesheet.git
	branch = 12.0
[submodule "addons/OCA/web"]
	path = addons/OCA/web
	url = https://github.com/OCA/web.git
	branch = 12.0
[submodule "addons/muk/muk_base"]
	path = addons/muk/muk_base
	url = https://github.com/ideaspositivas-group/muk_base.git
	branch = 12.0
[submodule "addons/muk/muk_dms"]
	path = addons/muk/muk_dms
	url = https://github.com/ideaspositivas-group/muk_dms.git
	branch = 12.0
[submodule "addons/muk/muk_web"]
	path = addons/muk/muk_web
	url = https://github.com/ideaspositivas-group/muk_web.git
	branch = 12.0
[submodule "addons/OCA/social"]
	path = addons/OCA/social
	url = https://github.com/OCA/social.git
	branch = 12.0
[submodule "addons/ilex-odoo-2.2"]
	path = addons/ilex-odoo-2.2
	url = git@github.com:ideaspositivas-group/ilex-odoo.git
	branch = 2.2
[submodule "addons/odoo/design-themes"]
	path = addons/odoo/design-themes
	url = https://github.com/odoo/design-themes.git
	branch = 12.0
[submodule "addons/ilex-thirdparty-2.2"]
	path = addons/ilex-thirdparty-2.2
	url = git@github.com:ideaspositivas-group/ilex-thirdparty.git
	branch = 2.2
[submodule "addons/OCA/community-data-files"]
	path = addons/OCA/community-data-files
	url = https://github.com/OCA/community-data-files.git
	branch = 12.0
